@font-face {
    font-family: "Rooney-Light";
    src: url(../fonts/SoberanaSans-Light.otf);
}

@font-face {
    font-family: "Rooney-Bold";
    src: url(../fonts/SoberanaSans-Bold.otf);
}

@font-face {
    font-family: "Rooney";
    src: url(../fonts/SoberanaSans-Regular.otf);
}

body{font-family: Rooney}
.row{margin-right: 0; margin-left:0}
.menu-img{width:100px}

/*transparent menu */
.menu{background-color:rgb(0,0,0,0.5); color:white; padding: 15px 50px;}
.menu-txt{color:white !important}

/*white menu */
.menu2{background-color: white; color: black !important;padding: 15px 50px;} 
.menu-txt2{color:black !important; margin-left:30px}

/*.s1{margin-top:-80px}*/
.s1-carousel{z-index:-999; }
.s1-img-carousel{height: 100vh; width: 100%}

.s2{padding: 80px}
.s2-box{background-color:gray; min-height: 300px}
.s2-box2{display: flex; align-items: center}
.s2-text{font-size:18px}
.s2-title{font-family:Rooney-Bold; font-size:35px; margin-bottom: 30px; color:black !important}
.s2-title-a{color:black !important}


.s3-container {position: relative;width: 100%;}

.s3-image {display: block;width: 100%;height: auto;}

.s3-overlay {position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: 100%;width: 100%;opacity: 0;transition: .5s ease;background-color: #008CBA;}

.s3-container:hover .s3-overlay {opacity: 1;background-color: rgb(32, 192, 212, 0.7);}

.s3-text {color: white;font-size: 20px;position: absolute; top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);text-align: center;opacity: 1;}
.s3-a{color:white !important; text-decoration: none !important}

.s4-box{background-color:gray; }
.s4-title{font-family:Rooney-Bold; font-size:25px; }
.s4-subtitle{font-size:18px}
.s4-text{font-size:15px}



.s5{padding-top:50px; margin-bottom:40px}

.s6{background-color: #5F5F5F;padding: 10px}
.contact-box{background-color: #d8d8d8; padding: 30px 0; color:white}
.margin-row{margin-top:35px}
.contact-btn{background-color: #d8d8d8; width: 100%; color:white}
::placeholder { color:white !important}


.separator{height: 1px; background-color:#cccccc; margin-top: 60px; margin-bottom: 60px}
.separator2{height: 1px; background-color:gray; margin-top: 80px; margin-bottom: 80px}
.separator3{height: 1px; background-color:gray; margin-bottom: 20px}



.box { display: flex; align-items: center; justify-content: center;}
.text-strong{font-family:Gotham-Bold}
.no-padding{padding:0}
.form-control{border-radius: 0 !important; background-color:#d8d8d8; border-color: #d8d8d8; color: white}

.footer-img{width:25px}
.footer-txt{color:white; font-size: 14px}
.footer-box{display: flex; align-items: center}
p{margin-bottom: 0}
ul{margin-left:-20px}
.center{text-align: center}

.box-flex{display: flex; align-items: center}

/* Servicios */

.servicios-1{background-attachment: fixed; background-image: url('../images/NutricionClinica02.jpg'); min-height: 100vh; background-size: 100% 100%}
.servicios-2{background-attachment: fixed; background-image: url('../images/NutricionDeportiva02.jpg'); min-height: 100vh; background-size: 100% 100%}
.servicios-3{background-attachment: fixed; background-image: url('../images/SERVICIOS-NutricionEstetica.jpg'); min-height: 100vh; background-size: 100% 100%}
.servicios-4{background-attachment: fixed; background-image: url('../images/TerapiasAlternativas02.jpg'); min-height: 100vh; background-size: 100% 100%}
.servicios-modal{background-color:gray; color:white}

.servicios-title{color:white; font-family: Rooney-Bold; font-size:50px}
.servicios-text{color:white; font-size:16px}
.servicios-btn{background-color: #20c0d4; color: white; margin-top:20px}

/*about*/
.about-1{background-size: 100%; background-image:url('../images/0022.jpg'); min-height: 85vh; background-repeat: no-repeat}
.about-title{color:white; font-family: Rooney-Bold; font-size:50px; line-height: 1}
.about-text{color:white; font-size:16px; margin-top: 20px}
.about-2{padding: 80px}
.about-text2{color:black; font-size:14px; margin-top: 20px}
.about-3{margin-bottom:80px}
.about-row{margin-bottom: 30px}
.about-row1{display:flex}
.about-row2{display:none}

/*blog*/
.blog-1{background-color:gray; min-height: 70vh;}
.blog-title{color:white; font-family: Rooney-Bold; font-size:50px; line-height: 1}
.blog-text{color:white; font-size:16px; margin-top: 20px}
.blog-box-new{word-break: break-word; border-top: 1px solid gray; border-right: 1px solid gray; border-bottom: 1px solid gray; padding:15px}
.blog-box-new-img{display:flex; align-items: center; border-top: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid gray; padding:15px}
.blog-text2{color:black; font-size:16px; margin-top: 15px; text-align: justify}
.blog-subtitle{color:black; font-family: Rooney-Bold; font-size:18px;}
.blog-subtitle2{color:black; font-family: Rooney-Bold; font-size:35px;}
.blog-2{padding-top: 80px}
.blog-box-gray{background-color: gray}
.blog-paddingleft{margin-left:20px}
.blog-3{margin-bottom:80px}
.blog-row{margin-bottom: 30px}
.blog-row2{margin-bottom: 20px; padding-left:20px}
.blog-text3{color:black; font-size:12px; text-align: center;border-left: 1px solid gray; border-right: 1px solid gray; border-bottom: 1px solid gray; padding:15px}
.blog-last-left{border-left: 1px solid gray; border-top: 1px solid gray; border-bottom: 1px solid gray;}
.blog-top{border-left: 1px solid gray; border-top: 1px solid gray; border-right: 1px solid gray;}

/*blog content*/
.blogc-1{padding: 80px}
.blogc-title{color:black; font-family: Rooney-Bold; font-size:35px; line-height: 1}
.blogc-text{color:black; font-size:16px; margin-top: 20px}
.blogc-2{background-color:gray; min-height: 65vh;}
.blogc-3{padding-top: 80px;}
.blogc-subtitle{color:black; font-family: Rooney-Bold; font-size:20px; margin-bottom:20px}
.blogc-fav{border-top: 1px solid gray; border-right: 1px solid gray; border-left: 1px solid gray;}

.blogc-3{margin-bottom:80px}
.blogc-row{margin-bottom: 30px}

@media (max-width: 992px) {

  }

  @media (max-width: 880px) {


}

@media (max-width: 768px) {
  .s1-img-carousel{height: 50vh}
  .s2 { padding: 50px 0; }
  .about-2 { padding: 50px 0; }
  .about-row2{display:block}
  .about-row1{display:none}
  .s3-service1{	content:url(../images/NutricionClinica01-m.jpg); }
  .s3-service2{	content:url(../images/NutricionDeportiva01-m.jpg); }
  .s3-service3{	content:url(../images/NutricionEstetica01-m.jpg); }
  .s3-service4{	content:url(../images/TerapiasAlternativas01-m.jpg); }
  .blog-box-new{border-left: 1px solid gray}
  .blog-box-new-img{border-bottom: none; border-right: 1px solid gray; justify-content: center;}
  .ml-auto{margin-left: -20px !important;}
  
}

@media(min-width:768px){
  .navbar-brand{position: absolute;left: 50%; transform: translateX(-50%);}
}
@media (max-width: 600px) {

.about-1{background-size:100% 100%;min-height: 50vh}
.about-title{font-size:40px}
.about-text{font-size:15px}
  }


 